In [1]:
import pandas as pd
import numpy as np

In [3]:
# Load the datasets
investment_advisors = pd.read_csv(r"C:\Users\tharu\Downloads\datasets-20250704T043018Z-1-001\datasets\investment-advisiors.csv")
banking_relationships = pd.read_csv(r"C:\Users\tharu\Downloads\datasets-20250704T043018Z-1-001\datasets\banking-realtionships.csv")
gender = pd.read_csv(r"C:\Users\tharu\Downloads\datasets-20250704T043018Z-1-001\datasets\gender.csv")
banking_clients = pd.read_csv(r"C:\Users\tharu\Downloads\datasets-20250704T043018Z-1-001\datasets\banking-clients.csv")

In [4]:

# Display the first few rows of each dataset
print("Investment Advisors:")
print(investment_advisors.head())
print("\nBanking Relationships:")
print(banking_relationships.head())
print("\nGender:")
print(gender.head())
print("\nBanking Clients:")
print(banking_clients.head())

Investment Advisors:
   IAId Investment Advisor
0     1        Victor Dean
1     2      Jeremy Porter
2     3      Ernest Knight
3     4          Eric Shaw
4     5          Kevin Kim

Banking Relationships:
   BRId Banking Relationship
0     1               Retail
1     2        Institutional
2     3         Private Bank
3     4           Commercial

Gender:
   GenderId  Gender
0         1    Male
1         2  Female

Banking Clients:
  Client ID             Name  Age  Location ID Joined Bank   Banking Contact  \
0  IND81288    Raymond Mills   24        34324  06-05-2019    Anthony Torres
1  IND65833    Julia Spencer   23        42205  10-12-2001  Jonathan Hawkins
2  IND47499   Stephen Murray   27         7314  25-01-2010     Anthony Berry
3  IND72498   Virginia Garza   40        34594  28-03-2019        Steve Diaz
4  IND60181  Melissa Sanders   46        41269  20-07-2012        Shawn Long

  Nationality            Occupation Fee Structure Loyalty Classification  ...  \
0    American  Safety Technician IV          High                   Jade  ...
1     African   Software Consultant          High                   Jade  ...
2    European    Help Desk Operator          High                   Gold  ...
3    American          Geologist II           Mid                 Silver  ...
4    American   Assistant Professor           Mid               Platinum  ...

   Bank Deposits  Checking Accounts  Saving Accounts  \
0     1485828.64          603617.88        607332.46
1      641482.79          229521.37        344635.16
2     1033401.59          652674.69        203054.35
3     1048157.49         1048157.49        234685.02
4      487782.53          446644.25        128351.45

   Foreign Currency Account  Business Lending  Properties Owned  \
0                  12249.96        1134475.30                 1
1                  61162.31        2000526.10                 1
2                  79071.78         548137.58                 1
3                  57513.65        1148402.29                 0
4                  30012.14        1674412.12                 0

   Risk Weighting  BRId  GenderId  IAId
0               2     1         1     1
1               3     2         1     2
2               3     3         2     3
3               4     4         1     4
4               3     1         2     5

[5 rows x 25 columns]

In [5]:
print("Investment Advisors Info:")
print(investment_advisors.info())
print("\nBanking Relationships Info:")
print(banking_relationships.info())
print("\nGender Info:")
print(gender.info())
print("\nBanking Clients Info:")
print(banking_clients.info())

Investment Advisors Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   IAId                22 non-null     int64
 1   Investment Advisor  22 non-null     object
dtypes: int64(1), object(1)
memory usage: 484.0+ bytes
None

Banking Relationships Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   BRId                  4 non-null      int64
 1   Banking Relationship  4 non-null      object
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes
None

Gender Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GenderId  2 non-null      int64
 1   Gender    2 non-null      object
dtypes: int64(1), object(1)
memory usage: 164.0+ bytes
None

Banking Clients Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Client ID                 3000 non-null   object
 1   Name                      3000 non-null   object
 2   Age                       3000 non-null   int64
 3   Location ID               3000 non-null   int64
 4   Joined Bank               3000 non-null   object
 5   Banking Contact           3000 non-null   object
 6   Nationality               3000 non-null   object
 7   Occupation                3000 non-null   object
 8   Fee Structure             3000 non-null   object
 9   Loyalty Classification    3000 non-null   object
 10  Estimated Income          3000 non-null   float64
 11  Superannuation Savings    3000 non-null   float64
 12  Amount of Credit Cards    3000 non-null   int64
 13  Credit Card Balance       3000 non-null   float64
 14  Bank Loans                3000 non-null   float64
 15  Bank Deposits             3000 non-null   float64
 16  Checking Accounts         3000 non-null   float64
 17  Saving Accounts           3000 non-null   float64
 18  Foreign Currency Account  3000 non-null   float64
 19  Business Lending          3000 non-null   float64
 20  Properties Owned          3000 non-null   int64
 21  Risk Weighting            3000 non-null   int64
 22  BRId                      3000 non-null   int64
 23  GenderId                  3000 non-null   int64
 24  IAId                      3000 non-null   int64
dtypes: float64(9), int64(8), object(8)
memory usage: 586.1+ KB
None

In [6]:
print("Investment Advisors Shape:", investment_advisors.shape)
print("Banking Relationships Shape:", banking_relationships.shape)
print("Gender Shape:", gender.shape)
print("Banking Clients Shape:", banking_clients.shape)

Investment Advisors Shape: (22, 2)
Banking Relationships Shape: (4, 2)
Gender Shape: (2, 2)
Banking Clients Shape: (3000, 25)

In [7]:
print("Banking Clients Descriptive Statistics:")
print(banking_clients.describe())

Banking Clients Descriptive Statistics:
               Age   Location ID  Estimated Income  Superannuation Savings  \
count  3000.000000   3000.000000       3000.000000             3000.000000
mean     51.039667  21563.323000     171305.034263            25531.599673
std      19.854760  12462.273017     111935.808209            16259.950770
min      17.000000     12.000000      15919.480000             1482.030000
25%      34.000000  10803.500000      82906.595000            12513.775000
50%      51.000000  21129.500000     142313.480000            22357.355000
75%      69.000000  32054.500000     242290.305000            35464.740000
max      85.000000  43369.000000     522330.260000            75963.900000

       Amount of Credit Cards  Credit Card Balance    Bank Loans  \
count             3000.000000          3000.000000  3.000000e+03
mean                 1.463667          3176.206943  5.913862e+05
std                  0.676387          2497.094709  4.575570e+05
min                  1.000000             1.170000  0.000000e+00
25%                  1.000000          1236.630000  2.396281e+05
50%                  1.000000          2560.805000  4.797934e+05
75%                  2.000000          4522.632500  8.258130e+05
max                  3.000000         13991.990000  2.667557e+06

       Bank Deposits  Checking Accounts  Saving Accounts  \
count   3.000000e+03       3.000000e+03     3.000000e+03
mean    6.715602e+05       3.210929e+05     2.329084e+05
std     6.457169e+05       2.820796e+05     2.300078e+05
min     0.000000e+00       0.000000e+00     0.000000e+00
25%     2.044004e+05       1.199475e+05     7.479440e+04
50%     4.633165e+05       2.428157e+05     1.640866e+05
75%     9.427546e+05       4.348749e+05     3.155750e+05
max     3.890598e+06       1.969923e+06     1.724118e+06

       Foreign Currency Account  Business Lending  Properties Owned  \
count               3000.000000      3.000000e+03       3000.000000
mean               29883.529993      8.667598e+05          1.518667
std                23109.924010      6.412303e+05          1.102145
min                   45.000000      0.000000e+00          0.000000
25%                11916.542500      3.748251e+05          1.000000
50%                24341.190000      7.113147e+05          2.000000
75%                41966.392500      1.185110e+06          2.000000
max               124704.870000      3.825962e+06          3.000000

       Risk Weighting         BRId     GenderId         IAId
count     3000.000000  3000.000000  3000.000000  3000.000000
mean         2.249333     2.559333     1.504000    10.425333
std          1.131191     1.007713     0.500067     5.988242
min          1.000000     1.000000     1.000000     1.000000
25%          1.000000     2.000000     1.000000     5.000000
50%          2.000000     3.000000     2.000000    10.000000
75%          3.000000     3.000000     2.000000    15.000000
max          5.000000     4.000000     2.000000    22.000000

### Check for Missing Values

In [8]:
print("Missing Values in Banking Clients:")
print(banking_clients.isnull().sum())

Missing Values in Banking Clients:
Client ID                   0
Name                        0
Age                         0
Location ID                 0
Joined Bank                 0
Banking Contact             0
Nationality                 0
Occupation                  0
Fee Structure               0
Loyalty Classification      0
Estimated Income            0
Superannuation Savings      0
Amount of Credit Cards      0
Credit Card Balance         0
Bank Loans                  0
Bank Deposits               0
Checking Accounts           0
Saving Accounts             0
Foreign Currency Account    0
Business Lending            0
Properties Owned            0
Risk Weighting              0
BRId                        0
GenderId                    0
IAId                        0
dtype: int64

### Check for Duplicates

In [9]:
print("Duplicate Rows in Banking Clients:", banking_clients.duplicated().sum())

Duplicate Rows in Banking Clients: 0

In [10]:
banking_clients.drop_duplicates(inplace=True)

In [11]:
banking_clients['Joined Bank'] = pd.to_datetime(banking_clients['Joined Bank'], format='%d-%m-%Y')

In [13]:
# Check if GenderId values are valid
valid_gender_ids = gender['GenderId'].values
invalid_gender = banking_clients[~banking_clients['GenderId'].isin(valid_gender_ids)]
print("Invalid GenderId entries:")
print(invalid_gender[['Client ID', 'GenderId']])

# Check if BRId values are valid
valid_br_ids = banking_relationships['BRId'].values
invalid_br = banking_clients[~banking_clients['BRId'].isin(valid_br_ids)]
print("Invalid BRId entries:")
print(invalid_br[['Client ID', 'BRId']])

# Check if IAId values are valid
valid_ia_ids = investment_advisors['IAId'].values
invalid_ia = banking_clients[~banking_clients['IAId'].isin(valid_ia_ids)]
print("Invalid IAId entries:")
print(invalid_ia[['Client ID', 'IAId']])

Invalid GenderId entries:
Empty DataFrame
Columns: [Client ID, GenderId]
Index: []
Invalid BRId entries:
Empty DataFrame
Columns: [Client ID, BRId]
Index: []
Invalid IAId entries:
Empty DataFrame
Columns: [Client ID, IAId]
Index: []

In [14]:
banking_clients.loc[~banking_clients['GenderId'].isin(valid_gender_ids), 'GenderId'] = 1

In [15]:
print("Unique Nationalities:", banking_clients['Nationality'].unique())
print("Unique Occupations:", banking_clients['Occupation'].unique())
print("Unique Fee Structures:", banking_clients['Fee Structure'].unique())
print("Unique Loyalty Classifications:", banking_clients['Loyalty Classification'].unique())

Unique Nationalities: ['American' 'African' 'European' 'Asian' 'Australian']
Unique Occupations: ['Safety Technician IV' 'Software Consultant' 'Help Desk Operator'
 'Geologist II' 'Assistant Professor' 'Help Desk Technician'
 'Account Coordinator' 'Automation Specialist II'
 'Software Test Engineer II' 'Geologist III' 'Administrative Officer'
 'Database Administrator II' 'Staff Scientist' 'Programmer I'
 'Software Test Engineer I' 'Actuary' 'Staff Accountant II'
 'Assistant Media Planner' 'Staff Accountant I' 'Compensation Analyst'
 'Geologist I' 'Web Designer II' 'Media Manager IV'
 'Accounting Assistant II' 'Programmer II' 'Administrative Assistant IV'
 'Geological Engineer' 'Junior Executive' 'Biostatistician IV'
 'Internal Auditor' 'Chemical Engineer' 'Accountant III'
 'Registered Nurse' 'Cost Accountant' 'Developer IV' 'Software Engineer I'
 'Accountant I' 'Automation Specialist IV' 'Biostatistician I' 'Nurse'
 'Human Resources Manager' 'Analyst Programmer'
 'Database Administrator III' 'Web Designer III' 'Senior Editor'
 'Health Coach III' 'Web Developer I' 'Systems Administrator III'
 'Biostatistician III' 'Project Manager' 'Software Engineer III'
 'Engineer III' 'Health Coach I' 'Human Resources Assistant I'
 'Sales Associate' 'Accounting Assistant III' 'Dental Hygienist'
 'Engineer IV' 'Accountant II' 'Software Engineer II' 'Health Coach IV'
 'Associate Professor' 'Computer Systems Analyst I' 'Electrical Engineer'
 'Statistician I' 'Programmer Analyst III' 'Human Resources Assistant II'
 'Administrative Assistant I' 'Geologist IV' 'Technical Writer'
 'Recruiter' 'Web Developer III' 'Senior Developer' 'Office Assistant II'
 'Operator' 'Web Designer I' 'Editor' 'Analog Circuit Design manager'
 'VP Marketing' 'Civil Engineer' 'Media Manager I'
 'Senior Quality Engineer' 'Software Test Engineer III' 'VP Accounting'
 'Information Systems Manager' 'Programmer Analyst II'
 'Accounting Assistant IV' 'Programmer Analyst IV'
 'Computer Systems Analyst IV' 'Speech Pathologist' 'Statistician IV'
 'Paralegal' 'Systems Administrator IV' 'Budget/Accounting Analyst I'
 'Senior Financial Analyst' 'Product Engineer' 'Data Coordiator'
 'Account Representative I' 'Health Coach II'
 'Administrative Assistant II' 'Staff Accountant III'
 'Mechanical Systems Engineer' 'Automation Specialist III'
 'VP Product Management' 'Business Systems Development Analyst' 'Teacher'
 'Marketing Assistant' 'Structural Engineer' 'Research Associate'
 'Quality Control Specialist' 'Environmental Specialist'
 'Structural Analysis Engineer' 'Pharmacist' 'Developer I'
 'Web Developer II' 'Payment Adjustment Coordinator' 'Account Executive'
 'Software Test Engineer IV' 'Social Worker' 'Statistician III'
 'Community Outreach Specialist' 'Financial Advisor' 'Research Nurse'
 'Research Assistant II' 'Research Assistant I' 'Media Manager III'
 'Media Manager II' 'Developer II' 'Software Engineer IV'
 'Quality Engineer' 'Human Resources Assistant IV' 'Tax Accountant'
 'Database Administrator I' 'Marketing Manager' 'VP Quality Control'
 'Safety Technician I' 'Budget/Accounting Analyst II'
 'Chief Design Engineer' 'Budget/Accounting Analyst IV' 'VP Sales'
 'Office Assistant I' 'Food Chemist' 'Assistant Manager' 'Developer III'
 'Computer Systems Analyst II' 'Safety Technician III'
 'Executive Secretary' 'Librarian' 'Accountant IV'
 'Nuclear Power Engineer' 'Director of Sales' 'Statistician II'
 'Accounting Assistant I' 'Office Assistant IV'
 'Account Representative II' 'Programmer Analyst I'
 'Research Assistant IV' 'Environmental Tech'
 'Administrative Assistant III' 'Graphic Designer'
 'Account Representative III' 'Professor' 'Office Assistant III'
 'Physical Therapy Assistant' 'Computer Systems Analyst III'
 'Legal Assistant' 'Staff Accountant IV' 'Research Assistant III'
 'Systems Administrator I' 'Design Engineer' 'Financial Analyst'
 'Budget/Accounting Analyst III' 'Web Designer IV'
 'Human Resources Assistant III' 'Engineer I' 'Programmer IV'
 'Account Representative IV' 'Web Developer IV' 'Programmer III'
 'Occupational Therapist' 'Database Administrator IV'
 'Systems Administrator II' 'Engineer II' 'Clinical Specialist'
 'Desktop Support Technician' 'Biostatistician II'
 'Senior Cost Accountant' 'GIS Technical Architect' 'General Manager'
 'Nurse Practicioner' 'Recruiting Manager' 'Safety Technician II'
 'Sales Representative' 'Automation Specialist I' 'Senior Sales Associate']
Unique Fee Structures: ['High' 'Mid' 'Low']
Unique Loyalty Classifications: ['Jade' 'Gold' 'Silver' 'Platinum']

In [16]:
banking_clients['Nationality'] = banking_clients['Nationality'].str.title()

In [17]:
# Calculate IQR for Estimated Income
Q1 = banking_clients['Estimated Income'].quantile(0.25)
Q3 = banking_clients['Estimated Income'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = banking_clients[(banking_clients['Estimated Income'] < lower_bound) | (banking_clients['Estimated Income'] > upper_bound)]
print("Outliers in Estimated Income:")
print(outliers[['Client ID', 'Estimated Income']])

Outliers in Estimated Income:
     Client ID  Estimated Income
26    IND98618         502309.08
208   IND86081         502742.17
318   IND49172         492748.51
507   IND36415         484083.74
975   IND79409         483509.98
1017  IND17839         520192.44
1093  IND48208         520328.35
1138  IND72949         491294.82
1179  IND96098         510066.30
1189  IND70814         521159.98
1279  IND86610         522330.26
1361  IND98826         506206.08
1476  IND47563         514809.57
1537  IND96715         512987.80
1562  IND15624         491409.52
1583  IND45884         488895.36
1609  IND68824         484691.00
1783  IND85690         488443.97
1819  IND91720         513292.88
2092  IND91488         487056.88
2272  IND23940         483167.34
2372  IND72578         502062.25
2397  IND84879         482954.96
2411  IND62941         511043.93
2460  IND97771         503138.53
2465  IND85022         514507.79

In [18]:
banking_clients['Estimated Income'] = banking_clients['Estimated Income'].clip(lower=lower_bound, upper=upper_bound)

In [22]:
print("Banking Clients Columns:", banking_clients.columns.tolist())
print("Investment Advisors Columns:", investment_advisors.columns.tolist())

Banking Clients Columns: ['Client ID', 'Name', 'Age', 'Location ID', 'Joined Bank', 'Banking Contact', 'Nationality', 'Occupation', 'Fee Structure', 'Loyalty Classification', 'Estimated Income', 'Superannuation Savings', 'Amount of Credit Cards', 'Credit Card Balance', 'Bank Loans', 'Bank Deposits', 'Checking Accounts', 'Saving Accounts', 'Foreign Currency Account', 'Business Lending', 'Properties Owned', 'Risk Weighting', 'BRId', 'GenderId', 'IAId']
Investment Advisors Columns: ['IAId', 'Investment Advisor']

In [23]:
# Standardize column names to lowercase with underscores
banking_clients.columns = banking_clients.columns.str.lower().str.replace(' ', '_')
investment_advisors.columns = investment_advisors.columns.str.lower().str.replace(' ', '_')
banking_relationships.columns = banking_relationships.columns.str.lower().str.replace(' ', '_')
gender.columns = gender.columns.str.lower().str.replace(' ', '_')

# Explicitly rename IAId to iaid if it exists
if 'IAId' in banking_clients.columns:
    banking_clients.rename(columns={'IAId': 'iaid'}, inplace=True)
if 'IAId' in investment_advisors.columns:
    investment_advisors.rename(columns={'IAId': 'iaid'}, inplace=True)
if 'BRId' in banking_clients.columns:
    banking_clients.rename(columns={'BRId': 'brid'}, inplace=True)
if 'GenderId' in banking_clients.columns:
    banking_clients.rename(columns={'GenderId': 'genderid'}, inplace=True)

### Merge Datasets for Consistency

In [24]:
# Merge with investment advisors
banking_clients = banking_clients.merge(investment_advisors, on='iaid', how='left')

# Merge with banking relationships
banking_clients = banking_clients.merge(banking_relationships, on='brid', how='left')

# Merge with gender
banking_clients = banking_clients.merge(gender, on='genderid', how='left')

In [25]:
banking_clients.drop(['iaid', 'brid', 'genderid'], axis=1, inplace=True)

In [26]:
print(banking_clients.head())
print("Shape after merge:", banking_clients.shape)

  client_id             name  age  location_id joined_bank   banking_contact  \
0  IND81288    Raymond Mills   24        34324  2019-05-06    Anthony Torres
1  IND65833    Julia Spencer   23        42205  2001-12-10  Jonathan Hawkins
2  IND47499   Stephen Murray   27         7314  2010-01-25     Anthony Berry
3  IND72498   Virginia Garza   40        34594  2019-03-28        Steve Diaz
4  IND60181  Melissa Sanders   46        41269  2012-07-20        Shawn Long

  nationality            occupation fee_structure loyalty_classification  ...  \
0    American  Safety Technician IV          High                   Jade  ...
1     African   Software Consultant          High                   Jade  ...
2    European    Help Desk Operator          High                   Gold  ...
3    American          Geologist II           Mid                 Silver  ...
4    American   Assistant Professor           Mid               Platinum  ...

   bank_deposits  checking_accounts  saving_accounts  \
0     1485828.64          603617.88        607332.46
1      641482.79          229521.37        344635.16
2     1033401.59          652674.69        203054.35
3     1048157.49         1048157.49        234685.02
4      487782.53          446644.25        128351.45

   foreign_currency_account  business_lending  properties_owned  \
0                  12249.96        1134475.30                 1
1                  61162.31        2000526.10                 1
2                  79071.78         548137.58                 1
3                  57513.65        1148402.29                 0
4                  30012.14        1674412.12                 0

   risk_weighting  investment_advisor  banking_relationship  gender
0               2         Victor Dean                Retail    Male
1               3       Jeremy Porter         Institutional    Male
2               3       Ernest Knight          Private Bank  Female
3               4           Eric Shaw            Commercial    Male
4               3           Kevin Kim                Retail  Female

[5 rows x 25 columns]
Shape after merge: (3000, 25)

In [27]:
banking_clients.to_csv('banking_clients_cleaned.csv', index=False)

In [35]:
if 'IAId' in banking_clients.columns:
    banking_clients.rename(columns={'IAId': 'iaid'}, inplace=True)
if 'IAId' in investment_advisors.columns:
    investment_advisors.rename(columns={'IAId': 'iaid'}, inplace=True)
if 'BRId' in banking_clients.columns:
    banking_clients.rename(columns={'BRId': 'brid'}, inplace=True)
if 'GenderId' in banking_clients.columns:
    banking_clients.rename(columns={'GenderId': 'genderid'}, inplace=True)

In [43]:
# Clean investment_advisors
investment_advisors.drop_duplicates(inplace=True)
if not investment_advisors['iaid'].is_monotonic_increasing:
    investment_advisors.sort_values('iaid', inplace=True)
investment_advisors.to_csv('investment_advisors_cleaned.csv', index=False)

In [44]:
# Clean banking_relationships
banking_relationships.drop_duplicates(inplace=True)
if not banking_relationships['brid'].is_monotonic_increasing:
    banking_relationships.sort_values('brid', inplace=True)
banking_relationships.to_csv('banking_relationships_cleaned.csv', index=False)

In [45]:
gender.drop_duplicates(inplace=True)
if not gender['genderid'].is_monotonic_increasing:
    gender.sort_values('genderid', inplace=True)
gender.to_csv('gender_cleaned.csv', index=False)

In [38]:
banking_clients['estimated_income'] = banking_clients['estimated_income'].clip(lower=lower_bound, upper=upper_bound)

In [40]:
Q1 = banking_clients['estimated_income'].quantile(0.25)
Q3 = banking_clients['estimated_income'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
banking_clients['estimated_income'] = banking_clients['estimated_income'].clip(lower=lower_bound, upper=upper_bound)

In [41]:
investment_advisors_cleaned = pd.read_csv('investment_advisors_cleaned.csv')
banking_relationships_cleaned = pd.read_csv('banking_relationships_cleaned.csv')
gender_cleaned = pd.read_csv('gender_cleaned.csv')
banking_clients_cleaned = pd.read_csv('banking_clients_cleaned.csv')

In [42]:
print("Cleaned Investment Advisors:")
print(investment_advisors_cleaned)
print("\nCleaned Banking Relationships:")
print(banking_relationships_cleaned)
print("\nCleaned Gender:")
print(gender_cleaned)
print("\nCleaned Banking Clients Head:")
print(banking_clients_cleaned.head())
print("Shape of cleaned Banking Clients:", banking_clients_cleaned.shape)

Cleaned Investment Advisors:
    iaid investment_advisor
0      1        Victor Dean
1      2      Jeremy Porter
2      3      Ernest Knight
3      4          Eric Shaw
4      5          Kevin Kim
5      6      Victor Rogers
6      7  Eugene Cunningham
7      8        Joe Carroll
8      9      Steve Sanchez
9     10   Lawrence Sanchez
10    11     Peter Castillo
11    12   Victor Gutierrez
12    13     Daniel Carroll
13    14      Carl Anderson
14    15      Nicholas Ward
15    16        Fred Bryant
16    17        Ryan Taylor
17    18       Sean Vasquez
18    19  Nicholas Morrison
19    20      Jack Phillips
20    21       Juan Ramirez
21    22       Gregory Boyd

Cleaned Banking Relationships:
   brid banking_relationship
0     1               Retail
1     2        Institutional
2     3         Private Bank
3     4           Commercial

Cleaned Gender:
   genderid  gender
0         1    Male
1         2  Female

Cleaned Banking Clients Head:
  client_id             name  age  location_id joined_bank   banking_contact  \
0  IND81288    Raymond Mills   24        34324  2019-05-06    Anthony Torres
1  IND65833    Julia Spencer   23        42205  2001-12-10  Jonathan Hawkins
2  IND47499   Stephen Murray   27         7314  2010-01-25     Anthony Berry
3  IND72498   Virginia Garza   40        34594  2019-03-28        Steve Diaz
4  IND60181  Melissa Sanders   46        41269  2012-07-20        Shawn Long

  nationality            occupation fee_structure loyalty_classification  ...  \
0    American  Safety Technician IV          High                   Jade  ...
1     African   Software Consultant          High                   Jade  ...
2    European    Help Desk Operator          High                   Gold  ...
3    American          Geologist II           Mid                 Silver  ...
4    American   Assistant Professor           Mid               Platinum  ...

   bank_deposits  checking_accounts  saving_accounts  \
0     1485828.64          603617.88        607332.46
1      641482.79          229521.37        344635.16
2     1033401.59          652674.69        203054.35
3     1048157.49         1048157.49        234685.02
4      487782.53          446644.25        128351.45

   foreign_currency_account  business_lending  properties_owned  \
0                  12249.96        1134475.30                 1
1                  61162.31        2000526.10                 1
2                  79071.78         548137.58                 1
3                  57513.65        1148402.29                 0
4                  30012.14        1674412.12                 0

   risk_weighting  investment_advisor  banking_relationship  gender
0               2         Victor Dean                Retail    Male
1               3       Jeremy Porter         Institutional    Male
2               3       Ernest Knight          Private Bank  Female
3               4           Eric Shaw            Commercial    Male
4               3           Kevin Kim                Retail  Female

[5 rows x 25 columns]
Shape of cleaned Banking Clients: (3000, 25)